services:
  api:
    image: bemoremore/perla-metro-stations-service:latest
    container_name: perla-metro-stations-service-api
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      ASPNETCORE_ENVIRONMENT: Production
    ports:
      - "8080:8080"